<footer>
    <div id="social">
        <ul class="social-links">
            <li class="social-link">
                <a href="https://www.instagram.com/fofo_power/" target="_blank">
                    <img src="{{ url_for('static', filename='img/instagramLogo.png') }}" alt="Instagram.com">
                </a>
            </li>
            <li class="social-link">
                <a href="https://www.artstation.com/bbuehl792" target="_blank">
                    <img src="{{ url_for('static', filename='img/artstationLogo.png') }}" alt="Artstation.com">
                </a>
            </li>
            <li class="social-link">
                <a href="https://www.linkedin.com/in/felicity-gunn-8073721a9/" target="_blank">
                    <img src="{{ url_for('static', filename='img/linkedinLogo.png') }}" alt="linkedin.com">
                </a>
            </li>
        </ul>
    </div>
    <div id="copyright">
        <small>© 2020 · <a href="{{ url_for('home') }}">felicitygunn.com</a> · Felicity Gunn</small>
    </div>
</footer>